## Directories
node_modules
_book/
build

src/tools/segmentation/web-build
examples/assets/itk

## Files
.npmrc

## File Types
.idea

## Output
coverage/
docs/latest/api
#dist/
dist/*hot-update*
junit.xml
.DS_Store
